'.text.html.vue':
  'element ui dropdown':
    'prefix': 'eldropdown'
    'body': """
    <el-dropdown>
      <span style="cursor: pointer; color: #409eff;">
        ${1:Dropdown List}
        <i class="${2:el-icon-arrow-down} el-icon--right"/>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item>${3:Action 1}</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
    """

  'element ui dropdown menu':
    'prefix': 'eldropdownmenu'
    'body': """
    <el-dropdown-menu slot="dropdown">
      $1
    </el-dropdown-menu>
    """

  'element ui dropdown item':
    'prefix': 'eldropdownitm'
    'body': """
    <el-dropdown-item>
      $1
    </el-dropdown-item>
    """
