'.text.html.vue':
  'element ui form':
    'prefix': 'elform'
    'body': """
    <el-form
      :model="$1"
      :rules="$2"
      ref="$3"
      @submit.native.prevent
      @keyup.enter.native="$4"
    >
      <!-- FORM ITEMS -->\n
      <!-- Button Submit -->
      <el-form-item>
        <el-button
          type="primary"
          @click="$4"
          :loading="false"
        >
          $5
        </el-button>
      </el-form-item>
    </el-form>
    """
  'element ui form item':
    'prefix': 'elformitm'
    'body': """
    <el-form-item prop="$1">
      $2
    </el-form-item>
    """
