'.text.html.vue':
  'element ui input':
    'prefix': 'elinput'
    'body': """
    <el-input
      v-model="$1"
      placeholder="$2"
    />
    """
  'element ui input with prefix icon':
    'prefix': 'elinputpicon'
    'body': """
    <el-input
      v-model="$1"
      placeholder="$2"
      prefix-icon="$3"
    />
    """
  'element ui input with suffix icon':
    'prefix': 'elinputsicon'
    'body': """
    <el-input
      v-model="$1"
      placeholder="$2"
      suffix-icon="$3"
    />
    """
  'element ui textarea':
    'prefix': 'eltextarea'
    'body': """
    <el-input
      type="textarea"
      :rows="$1"
      placeholder="$2"
      v-model="$3"
    />
    """
  'element ui textarea auto size':
    'prefix': 'eltextareaauto'
    'body': """
    <el-input
      type="textarea"
      :rows="$1"
      placeholder="$2"
      v-model="$3"
      autosize
    />
    """
  'element ui textarea without resize':
    'prefix': 'eltextareanr'
    'body': """
    <el-input
      type="textarea"
      :rows="$1"
      placeholder="$2"
      v-model="$3"
      resize="none"
    />
    """
