'.text.html.vue':
  'element ui navbar':
    'prefix': 'elmenu'
    'body': """
    <el-menu
      :default-active="$1"
      mode="${2:horizontal}"
      @select="${3:handleSelect}"
    >
      $4
    </el-menu>
    """

  'element ui menu item':
    'prefix': 'elmenuitm'
    'body': """
    <el-menu-item index="$1">
      ${2:Navigation option}
    </el-menu-item>
    """

  'element ui submenu item':
    'prefix': 'elsubmenu'
    'body': """
    <el-submenu index="$1">
      <template slot="title">
        ${2:title}
      </template>
      <el-menu-item index="$1-1">
        ${3:item one}
      </el-menu-item>
    </el-submenu>
    """

  'element ui vertical menu':
    'prefix': 'elmenuv'
    'body': """
    <el-menu
      mode="vertical"
      :default-active="$1"
      :collapse="${2:false}"
      background-color="${3:#304156}"
      text-color="${4:#bfcbd9}"
      active-text-color="${5:#409EFF}"
    >
      $6
    </el-menu>
    """
