'.text.html.vue':
  'element ui popover':
    'prefix': 'elpopover'
    'body': """
    <el-popover
      placement="${1:top-start}"
      title="${2:Title}"
      width="${3:200}"
      trigger="${4:hover}"
      content="${5:this is content, this is content, this is content}"
    >
      <el-button slot="reference">
        ${6:Hover to activate}
      </el-button>
    </el-popover>
    """
