'.text.html.vue':
  'element ui steps':
    'prefix': 'elsteps'
    'body': """
    <el-steps :active="${1:step}" finish-status="${2:success}">
      <el-step title="${3:step 1}"/>$4
    </el-steps>
    """
  'elemet ui step':
    'prefix': 'elstep'
    'body': """
    <el-step title="$1"/>$2
    """
