'.text.html.vue':
  'element ui switch':
    'prefix': 'elswitch'
    'body': """
    <el-switch
      v-model="$1"
      active-value="$2"
      inactive-value="$3"
      active-text="$3"
      inactive-text="$4"
    />
    """
