'.text.html.vue':
  'element ui select':
    'prefix': 'elselect'
    'body': """
    <el-select
      v-model="$1"
      placeholder="$2"
    >
      <el-option
        v-for="item in $3"
        :key="item.value"
        :label="item.label"
        :value="item.value"
      />
    </el-select>
    """
