'.text.html.vue':
  'element ui transfer':
    'prefix': 'eltransfer'
    'body': """
    <el-transfer
      v-model="$1"
      :data="$2"
      :titles="[
        '${3:list 1}',
        '${4:list 2}'
      ]"
    />
    """
