'.text.html.vue':
  'element ui tabs':
    'prefix': 'eltabs'
    'body': """
    <el-tabs
      v-model="$1"
      type="${2:card}"
    >
      $3
    </el-tabs>
    """

  'element ui tab pane':
    'prefix': 'eltab'
    'body': """
    <el-tab-pane
      :label="$1"
      :name="$2"
    >
      $3
    </el-tab-pane>
    """
