'.text.html.vue':
  'element ui time picker':
    'prefix': 'eltimepicker'
    'body': """
    <el-time-picker
      v-model="$1"
      :picker-options="{
        selectableRange: '7:30:00 - 20:30:00'
      }"
      placeholder="$2"
    />
    """
  'element ui time select':
    'prefix': 'eltimeselect'
    'body': """
    <el-time-select
      v-model="$1"
      :picker-options="{
        start: '07:30',
        step: '00:15',
        end: '20:30'
      }"
      placeholder="$2"
    />
    """
